* text=auto

*.py text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.jl text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.rst text eol=lf
*.txt text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cff text eol=lf
*.bib text eol=lf
Makefile text eol=lf
